#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    cursor: pointer;
}

#scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

p {
    text-align: center;
}